# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Node / React
node_modules/
dist/

# Database / Storage
*.db
*.sqlite
recruitment.db
offer-letters/*.pdf

# IDE
.idea/
.DS_Store
config.bat
